In [ ]:
df <- data.frame(
  team = c("A", "A", "B", "B", "C"),
  points = c(12, 15, 17, 24, 27),
  assists = c(4, 7, 7, 8, 12)
)

df

  team points assists
1 A    12      4
2 A    15      7
3 B    17      7
4 B    24      8
5 C    27     12

In [ ]:
getwd()

[1] "c:/Users/user/Documents/GitHub/Project_rPPG"

In [ ]:
"C:\Users\user\Desktop\R_exercise\R_exercise\apple_hair.txt"

In [ ]:
df1<-read.table("C:\\Users\\user\\Desktop\\R_exercise\\R_exercise\\apple_hair.txt",sep="")

In [ ]:
df1

   V1 V2   V3   V4    V5    V6    V7
1  1  37.0 37.3   0.3  2.24  3.18  0.94
2  1  49.0 50.4   1.4  9.56 10.83  1.27
3  1  34.0 37.0   3.0 25.77 23.19 -2.58
4  1  34.0 37.7   3.7  0.00  3.56  3.56
5  1  34.0 32.5  -1.5  7.56  7.31 -0.25
6  1  23.0 21.0  -2.0 16.35 13.77 -2.58
7  1  29.3 29.3   0.0  7.01 10.74  3.73
8  1  26.5 31.3   4.8 15.40 12.78 -2.62
9  1  35.3 37.7   2.4 13.24  5.69 -7.55
10 1  42.8 31.5 -11.3  4.76  2.67 -2.09
11 2  43.0 46.5   3.5 19.52 23.06  3.54
12 2  33.0 38.0   5.0 11.18  8.44 -2.74
13 2  31.7 39.0   7.3  7.13 13.00  5.87
14 2  29.3 47.6  18.3  0.85  3.97  3.12
15 2  39.8 54.3  14.5  0.73  2.26  1.53
16 2  37.3 44.0   6.7 10.28  7.16 -3.12
17 2  37.3 46.3   9.0  1.62  1.45 -0.17
18 2  30.7 30.0  -0.7  2.65  7.50  4.85
19 2  17.5 25.3   7.8  0.00  2.81  2.81
20 2  33.0 29.0  -4.0  3.93  7.04  3.11
21 2  36.0 42.0   6.0  5.00 11.69  6.69
22 2  42.0 46.5   4.5 12.13 12.35  0.22
23 2  39.0 47.0   8.0  3.04  3.84  0.80
24 2  26.0 37.4  11.4 17.33 21.28  3.95
25 2  21.0 22.0   1.0 13.43 15.81  2.38
26 2  29.0 36.3   7.3  0.00  1.20  1.20
27 2  19.5 28.0   8.5  5.32  8.35  3.03
28 2  29.7 29.0  -0.7 15.56 16.27  0.71
29 2  29.5 43.0  13.5  0.00  0.00  0.00

In [7]:
df1 <- read.table(file.choose(),
                  sep = "")

In [ ]:
df1

   V1 V2   V3   V4    V5    V6    V7
1  1  37.0 37.3   0.3  2.24  3.18  0.94
2  1  49.0 50.4   1.4  9.56 10.83  1.27
3  1  34.0 37.0   3.0 25.77 23.19 -2.58
4  1  34.0 37.7   3.7  0.00  3.56  3.56
5  1  34.0 32.5  -1.5  7.56  7.31 -0.25
6  1  23.0 21.0  -2.0 16.35 13.77 -2.58
7  1  29.3 29.3   0.0  7.01 10.74  3.73
8  1  26.5 31.3   4.8 15.40 12.78 -2.62
9  1  35.3 37.7   2.4 13.24  5.69 -7.55
10 1  42.8 31.5 -11.3  4.76  2.67 -2.09
11 2  43.0 46.5   3.5 19.52 23.06  3.54
12 2  33.0 38.0   5.0 11.18  8.44 -2.74
13 2  31.7 39.0   7.3  7.13 13.00  5.87
14 2  29.3 47.6  18.3  0.85  3.97  3.12
15 2  39.8 54.3  14.5  0.73  2.26  1.53
16 2  37.3 44.0   6.7 10.28  7.16 -3.12
17 2  37.3 46.3   9.0  1.62  1.45 -0.17
18 2  30.7 30.0  -0.7  2.65  7.50  4.85
19 2  17.5 25.3   7.8  0.00  2.81  2.81
20 2  33.0 29.0  -4.0  3.93  7.04  3.11
21 2  36.0 42.0   6.0  5.00 11.69  6.69
22 2  42.0 46.5   4.5 12.13 12.35  0.22
23 2  39.0 47.0   8.0  3.04  3.84  0.80
24 2  26.0 37.4  11.4 17.33 21.28  3.95
25 2  21.0 22.0   1.0 13.43 15.81  2.38
26 2  29.0 36.3   7.3  0.00  1.20  1.20
27 2  19.5 28.0   8.5  5.32  8.35  3.03
28 2  29.7 29.0  -0.7 15.56 16.27  0.71
29 2  29.5 43.0  13.5  0.00  0.00  0.00

In [ ]:
head(df1)

  V1 V2 V3   V4   V5    V6    V7
1 1  37 37.3  0.3  2.24  3.18  0.94
2 1  49 50.4  1.4  9.56 10.83  1.27
3 1  34 37.0  3.0 25.77 23.19 -2.58
4 1  34 37.7  3.7  0.00  3.56  3.56
5 1  34 32.5 -1.5  7.56  7.31 -0.25
6 1  23 21.0 -2.0 16.35 13.77 -2.58

# Cell 1 – Simple Math in R

In [13]:
3 + 5
12 + 3 / 4 - 5 + 3 * 8
(12 + 3 / 4 - 5) + 3 * 8
pi * 2^3 - sqrt(4)
log(2, base = 10)

A <- 6 + 8
a   # will give error: object 'a' not found (case-sensitive)
A   # 14

[1] 8

[1] 31.75

[1] 31.75

[1] 23.13274

[1] 0.30103

ERROR: Error: object 'a' not found

# Cell 2 – Entering Vectors (Numeric & Character)

In [ ]:
# numeric vector
numeric_values <- c(1, 3, 5, 8, 9)

# check class
class(numeric_values)

# print vector
numeric_values

# 4th element
numeric_values[4]


# character vector
char_values <- c("Bob", "Mike", "Tony", "Andy")

# check class
class(char_values)

# print vector
char_values

# Cell 3 – Creating a Data Frame Manually

In [14]:
# create data frame
df <- data.frame(
  team    = c("A", "A", "B", "B", "C"),
  points  = c(12, 15, 17, 24, 27),
  assists = c(4, 7, 7, 8, 12)
)

# display data frame
df

# check class
class(df)

# value in 4th row, 3rd column
df[4, 3]

  team points assists
1 A    12      4
2 A    15      7
3 B    17      7
4 B    24      8
5 C    27     12

[1] "data.frame"

[1] 8

# Cell 4 – Creating a Matrix from Vectors

In [15]:
# vectors
points  <- c(12, 15, 17, 24, 27)
assists <- c(4, 7, 7, 8, 12)

# bind columns into matrix
mat <- cbind(points, assists)

# show matrix
mat

# value in 4th row, 2nd column
mat[4, 2]

     points assists
[1,] 12      4
[2,] 15      7
[3,] 17      7
[4,] 24      8
[5,] 27     12

assists
      8

# Cell 5 – Working Directory & Workspace

In [16]:
# show current working directory
getwd()

# change working directory (example – adjust to your path)
setwd("C:/Users/user/Desktop/R_exercise/R_exercise")

# list objects in workspace
ls()

[1] "c:/Users/user/Documents/GitHub/Project_rPPG"

[1] "A"       "assists" "df"      "df1"     "mat"     "points"

# Cell 6 – Reading a Text File with read.table (BMI example)

In [17]:
df1 <- read.table(
  "C:/Users/KIOM_User/Desktop/bmi.txt",
  sep = "",
  col.names = c("height", "weight", "year", "religion", "gender", "marriage")
)

# first few rows
head(df1)

# element at row 1, column 2
df1[1, 2]

# entire second row
df1[2, ]

# first 5 height values
df1$height[1:5]

# same using [row, column]
df1[1:5, 1]

Warning message in file(file, "rt"):
"cannot open file 'C:/Users/KIOM_User/Desktop/bmi.txt': No such file or directory"

ERROR: Error in file(file, "rt"): cannot open the connection

# Cell 7 – Attaching a Data Frame

In [ ]:
# continue from df1 above
attach(df1)

height    # prints the 'height' column

# when you’re done, it’s safer to detach
detach(df1)

# Cell 8 – Basic Statistics with chickwts Dataset

In [ ]:
# built-in dataset
head(chickwts)

# quantiles
quantile(chickwts[, 1])
quantile(chickwts$weight, probs = 0.05)

# mean
mean(chickwts$weight)
mean(chickwts$weight, trim = 0.05)

# median
median(chickwts$weight)

# variance & standard deviation
var(chickwts$weight)
sd(chickwts$weight)
sqrt(var(chickwts$weight))   # same as sd

# Cell 9 – Range & IQR (Interquartile Range)

In [ ]:
# range (min, max)
range(chickwts$weight)

# max - min
max(chickwts$weight) - min(chickwts$weight)

# using diff()
diff(range(chickwts$weight))

# IQR
IQR(chickwts$weight)

# Cell 10 – Frequency Tables & Pie Charts

In [ ]:
# frequency table for feed type
table(chickwts$feed)

# add margins (totals)
addmargins(table(chickwts$feed))

# add margins with mean (not very meaningful here, but matches slide idea)
addmargins(table(chickwts$feed), FUN = mean)

# pie charts
par(mfrow = c(1, 2))

pie(table(chickwts$feed))

pie(
  table(chickwts$feed),
  col = rainbow(length(unique(chickwts$feed)))
)

# Cell 11 – Barplot, Histogram, Boxplot

In [ ]:
# barplot of feed frequencies
barplot(table(chickwts$feed), col = 2:7)
barplot(table(chickwts$feed), col = 2:7, horiz = TRUE)

# histogram of weight
hist(chickwts$weight)
hist(
  chickwts$weight,
  prob = TRUE,
  main = "weight of chick",
  xlab = "weight"
)

# boxplots
boxplot(chickwts$weight)

boxplot(weight ~ feed, data = chickwts)